<h1>Budget</h1>
	
<form>
	<div>
	Name:<br>
	<input id="name"><br><br>
	</div>
	
	<div>
	Amount:<br>
	<input id="amount"><br><br>
	</div>

	<button type= "button" id="submit_button">Submit</button>
</form>

<script type="text/javascript">
$(function() {

	getBudget(<%=@id%>, function(budget) {
		$('#name').val(budget.name);
		$('#amount').val(budget.amount);
	});
	
	$("#submit_button").click(function(event) {
//		console.log("submit");
		
		let budget = new Budget(
		$('#name').val(),
		$('#amount').val(), 
		<%=@id%>, 
		0
		); 
		console.log("here is the budget for patch", budget);
		budget.patchBudget();
	});
//	$('form').submit(function(event) {
//	console.log("submit");
//		event.preventDefault();
		
//		let values = $(this).serialize();
		
//		let posting = $.post('/api/budget/<%=@id%>', values);
		
//		posting.done(function(data) {
//		let budget = data;
//		$('#name').text(budget['name']);
//		$('#amount').text(budget['amount']);
//		});
//	});
});
</script>	
	

