<h1>Budget</h1>
	
<form>
	<div>
	Name:<br>
	<input id="name"><br><br>
	</div>
	
	<div>
	Amount:<br>
	<input id="amount"><br><br>
	</div>

	<input type="submit">
</form>

<script type="text/javascript">
$(function() {
	getBudget(<%=@id%>, function(budget) {
		$('#name').html(budget.name);
		$('#amount').html(budget.amount);
	});
	$('form').submit(function(event) {
	console.log("submit");
		event.preventDefault();
		
		let values = $(this).serialize();
		
		let posting = $.post('/api/budget/<%=@id%>', values);
		
		posting.done(function(data) {
		let budget = data;
		$('#name').text(budget['name']);
		$('#amount').text(budget['amount']);
		});
	});
});
</script>	
	

