
<h2>Your Budgets</h2>
<div id="budgets"></div>

	<p></p>
	<%= link_to 'Add New Budget', new_budget_path %>

<script type="text/javascript">
//$(document).load(function() {
//making sure page is loaded before js runs
	getBudgets(function(budgets) {
	//function(budgets) is assigned to formal name of budgetsCallback
		let s = '';
		budgets.forEach(function(budget) {
			s += '<h3><a href= "/budgets/'+budget.id+'">'+budget.name+'</a></h3>';
		});
		$('#budgets').html(s);
	});
//});
</script>
